<div class="row g-4">
    <% if(products){ %>
       <% products.forEach((product)=>{ %>
          
        <!-- Product Card Template -->
        <div class="col-md-4 col-lg-3" id="product-template">
            <div class="card product-card">
                <a href="/user/product/<%= product._id %>" class="text-decoration-none">
                <div class="position-relative">
                    <img src="<%= product.productImageUrls[0] %>" class="card-img-top product-img" alt="iPhone">
                    <span class="new-badge">NEW</span>
                    <button class="wishlist-btn">♡</button>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="card-title mb-0">₹<%= product.sellingPrice %></h5>
                        <del class="card-title mb-0 text-muted ">₹<%= product.regularPrice %></del>
                        <span class="rating">★ <%= product.rating %></span>
                    </div>
                    <h6 class="card-subtitle mb-2"><%= product.name %></h6>
                    <p class="card-text text-muted small"><%= product.description %></p>
                    <!-- <div class="mt-2">
                        <span class="color-circle active" style="background: #00FFFF;"></span>
                        <span class="color-circle" style="background: #FF0000;"></span>
                        <span class="color-circle" style="background: #000;"></span>
                        <span class="color-circle" style="background: #808080;"></span>
                    </div> -->
                </div>
            </div>
        </div></a>
        <!-- Repeat product cards 11 more times -->
        <%}) %>
            <% } %>
    </div>