<%- include('../adminHead.ejs') %>
    <!-- <link rel="stylesheet" href="/script/admin/products/editProduct.js"> -->
    <link rel="stylesheet" href="/style/admin/products/editProduct.css">




    <div class="container">
        <header class="page-header">
            <div class="header-container">
                <div>
                    <h1 class="page-title">Edit Product</h1>
                    <!-- <nav>
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product List</a></li>
                            <li class="active">Create Product</li>
                        </ul>
                    </nav> -->
                </div>
                <!-- <div class="header-actions">
                    <button class="btn btn-cancel">Cancel</button>
                    <button class="btn btn-save">Save Product</button>
                </div> -->
            </div>
        </header>
        <form id="productForm">
            <div class="form-group">
                <span class="visually-hidden">Product Id:</span>
                <span class="visually-hidden" id="productId">
                    <%= product._id %>
                </span>
                <label for="name">Product Name*</label>
                <input type="text" id="name" name="name" value="<%= product.name%>" required>
                <div class="error" id="nameError">Product name is required</div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <label for="description">Description*</label>
                <textarea id="description" name="description" required><%= product.description %></textarea>
                <div class="error" id="descriptionError">Description is required</div>
            </div>
            <!-- product specification -->


            <div class="container form-container">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <span class="text-center mb-4">Product Specifications</span>

                        <div id="specifications">
                            <div class="specification-container card-body p-3 mb-3 fade-in">
                                <% let spec=product?.specifications %>
                                    <% Object.entries(spec).forEach(([key,value])=>{ %>
                                        <div class="row g-3">
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" name="specKey[]"
                                                    placeholder="Specification Key" value="<%= key %>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" name="specValue[]"
                                                    placeholder="Specification Value" value="<%= value %>" required>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-outline-danger w-100"
                                                    onclick="removeSpecification(this)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <% }) %>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <!-- <button type="submit" class="btn btn-primary btn-lg px-5">
                                        <i class="fas fa-save me-2"></i>Submit
                                    </button> -->
                            <button type="button" class="btn btn-success btn-float" onclick="addSpecification()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div><!-- end of spec -->

            <!-- price (MRP) -->
            <div class="form-group">
                <label for="regularPrice">Regular Price* (MRP)</label>
                <input type="number" id="regularPrice" name="regularPrice" min="0" step="0.1"
                    value="<%= product.regularPrice%>" required>
                <div class="error" id="regularPriceError">Regular price must be a positive number</div>
            </div>

            <!-- offer -->
            <div class="form-group">
                <label for="offer">offer %</label>
                <input type="number" id="offer" name="offer" min="0" max="50" step="0.01" value="<%= product.offer%>">
                <div class="error" id="offerError">offer must be a positive number</div>
            </div>

            <!-- category -->
            <div class="form-group">
                <label for="category">Category*</label>
                <select id="category" name="category" required>
                    <option offer="<%= product.category.categoryOffers   %>" value="<%= product.category._id %>">
                        <%= product.category.name %> - <%= product.category.categoryOffers %> %
                    </option>
                    <% if(category){ %>
                        <% category.forEach(c=> { %>
                            <option offer="<%= c.categoryOffers %>" value="<%= c._id %>">
                                <%= c.name %> - (offer <%= c.categoryOffers || 0 %> %)
                            </option>
                            <% }) %>
                                <% } %>
                </select>
                <div class="error" id="categoryError">Please select a category</div>
            </div>

            <!-- brand  -->
            <div class="form-group">
                <label for="Brand">Brand*</label>
                <select id="Brand" name="Brand" required>
                    <option offer="<%= product.brand.offer %>" value="<%= product.brand._id %>">
                        <%= product.brand.name %> - <%=product.brand.offer %> %
                    </option>
                    <% if(brand){ %>
                        <% brand.forEach(b=> { %>
                            <option offer="<%= b.offer || 0 %>" value="<%= b._id %>">
                                <%= b.name %> - (offer <%= b.offer || 0 %> %)
                            </option>
                            <% }) %>
                                <% } %>
                </select>
                <div class="error" id="brandError">Please select a Brand</div>
            </div>

            <!-- Selling price Automatically calculated on click -->
            <div class="form-group">
                <label for="sellingPrice">Selling Price*</label>
                <input type="number" id="sellingPrice" name="sellingPrice" min="0" step="0.01"
                    value="<%= product.sellingPrice%>" required readonly>
                <div class="error" id="sellingPriceError">Selling price must be a positive number</div>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity*</label>
                <input type="number" id="quantity" name="quantity" min="0" value="<%= product.quantity%>" required>
                <div class="error" id="quantityError">Quantity must be a positive number</div>
            </div>

            <div class="form-group">
                <label for="color">Color</label>
                <select id="color" name="color" multiple>
                    <option value="black">Black</option>
                    <option value="white">White</option>
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="gray">Gray</option>
                    <option value="brown">Brown</option>
                </select>
                <div class="error" id="colorError">Please select at least one color</div>
            </div>
            <!-- size -->
            <div class="form-group">
                <label for="size">Size in inch(separate multiple sizes with commas)*</label>
                <input type="number" id="size" name="size" min="0" step="0.01" placeholder="e.g. 6.5 "
                    value="<%= product.sizes%>" required>
                <div class="error" id="sizeError">Please enter at least one size</div>
            </div>

            <div class="form-group">
                <label for="status">Status*</label>
                <select id="status" name="status" required>
                    <option value="<%= product.status%>">
                        <%= product.status %>
                    </option>
                    <option value="Available">Available</option>
                    <option value="Out of stock">Out of stock</option>
                    <option value="Discontinued">Discontinued</option>
                </select>
                <div class="error" id="statusError">Please select a status</div>
            </div>

            <!--  image  -->
            <div class="form-group">
                <label>Product Images (up to 5 images)*</label>
                <input type="file" id="imageInput" accept="image/*" multiple>
                <div class="error" id="imagesError">At least one image is required</div>
                <div class="images-container" id="imagesContainer">
                    <% if(product.productImageUrls && product.productImageUrls.length> 0){ %>
                        <% product.productImageUrls.forEach((image, index)=> { %>
                            <div class="container-fluid">
                                <div class="position-relative" style="max-width: 150px;">
                                    <img src="<%=image%>" alt="placeholder" class="img-fluid mb-2">
                                    <button class="btn btn-danger w-100 productImage"
                                        imgIndex="<%= image %>">Delete</button>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
            </div>
            <section> <!-- adding the tag section  -->

                <div class="tag-container" id="tagContainer">
                </div>
                <div class="input-container">
                    <input type="text" id="tagInput" placeholder="👇 Enter a tag and press Enter or Add button">
                </div>
                <div class="button-group">
                    <button type="button" onclick="addTag()">Add Tag</button>
                    <button type="button" class="clear-tags-btn" onclick="clearAllTags()">Clear All Tags</button>
                </div>
                <!-- <button type="submit">Submit Tags</button> -->


    </div>
    <!-- Hidden input to store tags -->
    <input type="hidden" name="tags" id="hiddenTags">
    </section>

    <button type="submit" class="submit-btn">Update Product</button>
    <button type="reset" id="cancel">cancel</button>
    <div class="loading" id="loading">Submitting product...</div>
    </form>
    </div>

    <div class="modal" id="cropperModal">
        <div class="modal-content">
            <div class="cropper-container">
                <img id="cropperImage" style="max-width: 300px;" src="" alt="Image to crop">
            </div>

            <div class="button-group">
                <button class="crop-btn" id="cropBtn">Crop Image</button>
                <button class="remove-btn" id="cancelCropBtn">Cancel</button>
            </div>
        </div>
    </div>
    <%- include('../adminFoot.ejs') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/script/admin/products/editProduct.js"></script>
        
        </body>

        </html>